<div class="page-container">
    <div class="task-items-table-container">
      <div class="title-container">
        <h1>Задачи сотрудника</h1>
      </div>
      <div class="container">
      <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#add-task-item-modal">
        Добавить задачу
      </button>
      <!-- <input type="text" [(ngModel)]="searchText" placeholder="Поиск по ФИО..." (input)="searchEmployees()"/> -->
    </div>
    <div *ngFor="let taskItem of taskItems">
      <app-task [taskItem]="taskItem"></app-task>
    </div>

    <!-- <div class="modal fade" id="add-task-modal" tabindex="-1" aria-labelledby="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Добавить задачу</h5>
            <button type="button" data-bs-dismiss="modal">
              <i class="bi bi-x-lg"></i>
            </button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="onAddEmployeeSubmit()">
              <div class="mb-3">
                <label for="title" class="form-label">Наименование</label>
                <input [(ngModel)]="addTaskItem.title" type="text" name ="title" class="form-control" id="title" placeholder="Введите наименование задачи" required>
              </div>
              <div class="button-container">
                <button type="submit" class="btn btn-outline-dark" data-bs-dismiss="modal">Добавить задачу</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div> -->