<div class="page-container">
    <div class="employees-table-container">
      <div class="title-container">
        <h1>Сотрудники</h1>
      </div>
      <div class="container">
      <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#add-employee-modal">
        Добавить сотрудника
      </button>
      <input type="text" [(ngModel)]="searchText" placeholder="Поиск по ФИО..." (input)="searchEmployees()"/>
    </div>

    <div *ngFor="let employee of employees">
      <app-employee [employee]="employee"></app-employee>
    </div>

    <div class="modal fade" id="add-employee-modal" tabindex="-1" aria-labelledby="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Добавить сотрудника</h5>
            <button type="button" data-bs-dismiss="modal">
              <i class="bi bi-x-lg"></i>
            </button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="addEmployeeOnSubmit()">
              <div class="mb-3">
                <label for="fullName" class="form-label">ФИО</label>
                <input [(ngModel)]="addEmployee.fullName" type="text" name ="fullName" class="form-control" id="fullName" placeholder="Введите ФИО сотрудника" required>
              </div>
              <div class="mb-3">
                <label for="position" class="form-label">Должность</label>
                <input [(ngModel)]="addEmployee.position" type="text" name ="position" class="form-control" id="position" placeholder="Введите должность сотрудника" required>
              </div>
              <div class="button-container">
                <button type="submit" class="btn btn-outline-dark" data-bs-dismiss="modal">Добавить сотрудника</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>